<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>183548698238-9ig21taa13tckl7rgh920uq98re9o3pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183548698238-9ig21taa13tckl7rgh920uq98re9o3pb</string>
	<key>API_KEY</key>
	<string>AIzaSyDZXKa9LuTvOnyCGH3EMeSClhHFd5KKyfo</string>
	<key>GCM_SENDER_ID</key>
	<string>183548698238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rh.olympus.tours</string>
	<key>PROJECT_ID</key>
	<string>olympustours-68a74</string>
	<key>STORAGE_BUCKET</key>
	<string>olympustours-68a74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183548698238:ios:c7aa9b689916c6e3</string>
	<key>DATABASE_URL</key>
	<string>https://olympustours-68a74.firebaseio.com</string>
</dict>
</plist>