<ion-header>
  <ion-navbar>
    <ion-title *ngIf="controlUser">
      {{ 'Itinerary_Page_Title' | translate }}
    </ion-title>
    <ion-buttons right *ngIf="controlUser">
      <button ion-button right (click)="contactar()">
        <ion-icon name="call"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >


  <ion-list no-lines *ngIf="controlUser">

    <ion-grid>
      <ion-row>
        <ion-col class="column">
          <ion-icon center class="mainIcon" name="map"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <form [formGroup]="itineraryRegister">

      <ion-item class="mainTitle">
        {{ 'Itinerary_Main_Title' | translate }}
      </ion-item>

      <ion-item class="mainText" text-wrap>
        {{ 'Itineray_Main_Text' | translate }}
      </ion-item>

      <ion-item>
        <ion-input (click)="pedirpaises()" formControlName="fullname" type="text" placeholder="{{'Itineray_Lastname' | translate }}" clearInput [class.invalid]="!itineraryRegister.controls.fullname.valid && (itineraryRegister.controls.fullname.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <br>

      <ion-item>
        <ion-input formControlName="bookingnumber" type="text"  placeholder="{{'Itineray_Booking_Number' | translate }}" clearInput [class.invalid]="!itineraryRegister.controls.bookingnumber.valid && (itineraryRegister.controls.bookingnumber.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <br>

      <ion-item class="ionSelectWidth" >
        <ion-label>País</ion-label>
        <ion-select  class="ionSelectWidth" (click)="pedirpaises()" (ionCancel)="onCancelCountry()"   formControlName="country" clearInput [class.invalid]="!itineraryRegister.controls.fullname.valid && (itineraryRegister.controls.fullname.dirty || submitAttempt)">
          <ion-option *ngFor="let country of _toursProvider.CountriesColl" (ionSelect)="selectCountry(country.id)" >{{country.name}}</ion-option>
        </ion-select>
      </ion-item>

      <br>

      <ion-item class="ionSelectWidth" *ngIf="control==1">
        <ion-label >Ciudad</ion-label>
        <ion-select  (ionCancel)="onCancelCity()"  formControlName="destination" clearInput [class.invalid]="!itineraryRegister.controls.fullname.valid && (itineraryRegister.controls.fullname.dirty || submitAttempt)">
          <ion-option *ngFor="let city of _toursProvider.DestinationsColl" (ionSelect)="selectCity(city.id)" >{{city.nombre}}</ion-option>
        </ion-select>
      </ion-item>
    </form>

    <ion-item>
      <ion-row>
        <ion-col class="column">
          <button ion-button round color="textHighlight" (click)="save()">{{'Itinerary_button' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>

  <!--
  <ion-grid>

    <ion-row>
      <ion-col class="column" showWhen="ios,android">
        <button ion-button outline color="textHighlight" (click)="abrirWheelLugares()">{{'Itinerary_location' | translate}}</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="column">
        <button ion-button round color="textHighlight" (click)="save()">{{'Itinerary_button' | translate}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  -->

</ion-content>
