<!--
  Generated template for the DestinationsInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Destinos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let tour of _toursProvider.ToursColl">
    <img class="imagenTour" [src]=tour.imageUrl>

    <ion-card-content>
      <ion-card-title class="titulo">
        {{tour.name}}
      </ion-card-title>

      <p class="contenido">{{tour.descripcion}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button *ngIf="tour.urlVideo" ion-button icon-start clear small (click)="playVideo(tour.urlVideo)">
          <ion-icon color="textHighlight" name="logo-youtube"></ion-icon>
          <div class="chips">Ver Video</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small (click)="abrirEnlace(tour.tour_url)">
          <ion-icon color="textHighlight" name="logo-usd"></ion-icon>
          <div  class="chips">Comprar Ahora</div>
        </button>
      </ion-col>
    </ion-row>


  </ion-card>
</ion-content>
