<ion-header>

  <ion-navbar>
    <ion-title>{{ "DestinationsInfo_Page_Title" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let tour of _toursProvider.ToursColl">
    <img class="imagenTour" [src]=tour.imageUrl (click)="abrirEnlace(tour.urlBook)">

    <ion-card-content>
      <ion-card-title class="titulo">
        {{tour.name}}
      </ion-card-title>

      <p class="contenido">{{tour.descripcion}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button *ngIf="tour.urlVideo" ion-button icon-start clear small (click)="playVideo(tour.urlVideo)">
          <ion-icon color="textHighlight" name="logo-youtube"></ion-icon>
          <div class="chips">{{ "DestinationsInfo_WatchVideo" | translate}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small (click)="abrirEnlace(tour.urlBook)">
          <ion-icon color="textHighlight" name="logo-usd"></ion-icon>
          <div  class="chips">{{ "DestinationsInfo_BuyNow" | translate}}</div>
        </button>
      </ion-col>
    </ion-row>


  </ion-card>
</ion-content>
