<ion-header *ngIf="!isLoggedIn; else facebookLogin">
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button right (click)="callWhats()">
        <ion-icon name="call"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{"Login_Offers_Page_Title" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-header *ngIf="isLoggedIn; else facebookLogin">

  <ion-navbar>
    <ion-buttons end>
      <button ion-button end (click)="logout()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'Promociones_Page_Title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content   text-center padding scroll="true" class="vertical-align-content" [ngClass]="{'bg-white': changeColor}">

  <ion-grid *ngIf="!isLoggedIn; else facebookLogin">
    <ion-row>
      <ion-col class="top-20">
        <ion-icon color="light" name="logo-facebook" class="ion-iconF"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button (click)="login()" ion-button color="light" icon-left block outline>
          {{'Login_Offers_MainText' | translate}}
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="top-20">
        <h3>
          {{'Login_Offers_WelcomeMessage' | translate}}
        </h3>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-slides *ngIf="isLoggedIn; else facebookLogin" pager="true">
    <ion-slide *ngFor="let offer of _promocionesProvider.PromocionesColl">
      <img class="imagenCiudad" [src]="offer.imageUrl" padding />
      <h2 class="slide-title"
          [innerHTML]="offer.title"
          ion-text color="textHighlight"></h2>
      <b><p [innerHTML]="offer.cupon"
            ion-text color="textPrimary"></p></b>
      <p [innerHTML]="offer.description"
         ion-text color="textPrimary"></p>
      <button ion-button round color="textHighlight" (click)="navigateToOffer(offer.url)">{{'Promociones_Page_MainTitle' | translate}}</button>
    </ion-slide>
  </ion-slides>

</ion-content>
